<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="row">
    <div *ngFor="let item of tvShows" class="col-md-2 overflow-hidden">
        <div class="poster position-relative overflow-hidden">
            <img class="w-100" src="https://image.tmdb.org/t/p/original/{{item?.poster_path}}" alt="">
        <div class="layer">
        <a class=" bg-transparent" routerLink="/details/tv/{{item.id}}"><i class="fa text-dark fa-3x fa-play-circle" aria-hidden="true"></i>
     </a>
     <p class="text-dark font-weight-bolder">See more!</p>
     </div>
         </div>
         <h5 class="text-center mt-2">{{item.name}}</h5>
    </div>
</div>